name: 'Build API Image'

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

defaults:
  run:
    working-directory: 2-simple-api


jobs:
  build:
    name: 'Build and Push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build Test Image
        if: github.event_name == 'pull_request'
        run: docker build -t vaugenwake/goapi:pull_request .

      - name: Bump version and push tag
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        id: tag_version
        uses: mathieudutour/github-tag-action@v5.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create a GitHub release
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          release_name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}

      - name: Docker Login
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

      - name: Build Release Image
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: docker build -t docker.pkg.github.com/${{ github.repository }}/goapi:${{ steps.tag_version.outputs.new_version }} -f ./docker/Dockerfile .

      - name: Push image to docker hub
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: docker push docker.pkg.github.com/${{ github.repository }}/goapi:${{ steps.tag_version.outputs.new_version }}
