name: 'Build API Image'

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

defaults:
  run:
    working-directory: 2-simple-api


jobs:
  build:
    name: 'Build and Push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Get commit sha
        run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV

      - name: Build Test Image
        if: github.event_name == 'pull_request'
        run: docker build -t registry.digitalocean.com/tradigital/goapi:${SHORT_SHA} -f ./docker/Dockerfile .

      - name: Docker Login
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: docker login registry.digitalocean.com -u ${{ secrets.DO_REGISTRY_TOKEN }} --p ${{ secrets.DO_REGISTRY_TOKEN }}

      - name: Build Release Image
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: docker build -t registry.digitalocean.com/tradigital/goapi:${SHORT_SHA} -f ./docker/Dockerfile .

      - name: Push image to docker hub
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: docker push registry.digitalocean.com/tradigital/goapi:${SHORT_SHA}
