name: 'Build Laravel Image'

on:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    working-directory: 3-laravel-app


jobs:
  test:
    name: 'Run tests'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Archive vendor artifacts
        uses: actions/upload-artifact@v2
        with:
          name: vendor-artifacts
          retention-days: 2
          path: |
            vendor/
        
      - name: Generate key
        run: php artisan key:generate
        
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - name: Create Database
        run: |
          mkdir -p database
          touch database/database.sqlite
          
      - name: Execute tests via PestPHP
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: database/database.sqlite
        run: vendor/bin/phpunit

  # build:
  #     name: 'Build and Push'
  #     runs-on: ubuntu-latest
  #     needs: test
  #     steps:
  #       - name: Get commit sha
  #         run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV
        
  #       - name: Download vendor artifacts
  #         uses: actions/download-artifact@v2
  #         with:
  #           name: vendor-artifacts

  #       - name: Build Test Image (Laravel)
  #         if: github.event_name == 'pull_request'
  #         run: docker build -t registry.digitalocean.com/tradigital/laravel:${SHORT_SHA} -f ./ops/docker/php/Dockerfile .

  #       - name: Build Test Image (Nginx)
  #         if: github.event_name == 'pull_request'
  #         run: docker build -t registry.digitalocean.com/tradigital/laravel-nginx:${SHORT_SHA} -f ./ops/docker/nginx/Dockerfile .

  #       - name: Docker Login
  #         if: github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch'
  #         run: docker login registry.digitalocean.com -u ${{ secrets.DO_REGISTRY_TOKEN }} -p ${{ secrets.DO_REGISTRY_TOKEN }}

  #       - name: Build Release Image (Laravel)
  #         if: github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch'
  #         run: docker build -t registry.digitalocean.com/tradigital/laravel:${SHORT_SHA} -f ./ops/docker/php/Dockerfile .

  #       - name: Build Release Image (Nginx)
  #         if: github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch'
  #         run: docker build -t registry.digitalocean.com/tradigital/laravel-nginx:${SHORT_SHA} -f ./ops/docker/nginx/Dockerfile .

  #       - name: Push image to docker hub
  #         if: github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch'
  #         run: |
  #           docker push registry.digitalocean.com/tradigital/laravel:${SHORT_SHA} &&
  #           docker push registry.digitalocean.com/tradigital/laravel-nginx:${SHORT_SHA}
